
@{
    ViewBag.Title = "upload";
}

@*<input type="file"*@ 
@*<form  ethod="post" enctype="multipart/form-data">*@
<form>
    <input type="file" name="files" />
    <input type="submit" name="上传" />
</form>
<h2>upload</h2>

